In [8]:
import pandas as pd
contrib = pd.read_csv("financial_contributions.csv")

In [10]:
contrib

,Date,Person,PaidSum,Currency,Px_num,Clasa,RealCost,Retur
0,23-05-2023,Nikolaje L Liuba Adriana Cuzman,RON,250,1,XII-X,120,130
1,15-04-2023,Sebastian Ivan,RON,500,2,XII-D,240,260
2,18-04-2023,Ciotescu Raul,RON,200,1,XII-D,120,80
3,18-04-2023,Danielescu Aura Codruta,RON,450,2,XII-E,240,210
4,05-05-2023,Dragisa Uncul,RON,425,2,XII-E,240,185
5,12-05-2023,Moldovan Ioana Lucia Purge,RON,200,1,XII-X,120,80
6,15-05-2023,Flavius Ban,RON,200,1,XII-D,120,80
7,19-05-2023,Alina Petrica,RON,200,1,XII-D,120,80
8,19-05-2023,Silviu Stance,RON,400,2,XII-X,240,160
9,20-05-2023,Florentin Munteanu,RON,200,1,XII-D,120,80
10,23-05-2023,Nikolaje L Liuba Adtiana Cuzman,RON,150,1,XII-X,120,30
11,29-05-2023,Diana Melania Beck,RON,200,1,XII-E,120,80
12,30-05-2023,Alina Florina Baciu Toma,RON,200,1,XII-D,120,80

In [13]:
total_px = contrib.Px_num.sum()
incasat = contrib.PaidSum.sum()
real_cost = (total_px+10)*70 
spre_retur = contrib.Retur.sum()-real_cost

print(f'Persoane: {total_px} si 10 profesori')
print(f'incasat: {incasat}')
print(f'real_cost: {real_cost}')
print(f'retur: {spre_retur}')

Persoane: 17 si 10 profesori
incasat: RONRONRONRONRONRONRONRONRONRONRONRONRON
real_cost: 1890
retur: -355